.thinking {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(29, 253, 190, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.thinking img{
     width: 500px;
     height: 500px;
     margin-left: 20px;
}
